body {
    font-family: 'Roboto Mono';
    background-color: #324458;
    color: lightgray;
    user-select: none;
}

.is-removed-from-layout {
    display: none !important;
}

button.notBuyable {
    border-color: #B33939;
    background-color: #324458;
}

button.notBuyable:hover {
    cursor: not-allowed;
}

button.purchased {
    border-color: yellow;
    background-color: #324458;
}

button.purchased:hover {
    cursor: not-allowed;
}

button.buyable {
    border-color: Green;
    background-color: #324458;
    transition-duration: 0.5s;
}

button.buyable:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#header-container {
    text-align: center;
    font-size: 12px;
}

#gold-text {
    font-size: 20px;
}

#goldPerSecond-text {
    font-size: 20px;
}

#menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 10px 0px;
}

.menu-buttons {
    text-align: center;
    font-size: 12px;
    color: lightgray;
    background-color: #324458;
    width: 90px;
    height: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-width: 3px;
    font-family: 'Roboto Mono';
    transition-duration: 0.5s;
}

.menu-buttons:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.autobuy-buttons {
    font-size: 12px;
    height: 25px;
    width: 85px;
    background-color: #324458;
    font-family: 'Roboto Mono';
    color: lightgray;
    border-width: 3px;
    transition-duration: 0.5s;
    border-color: gray;
}

.autobuy-buttons:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#boost-buildings-autobuy-container {
    text-align: center;
    margin: 0px;
}

.table-formatting {
    width: 60%;
    font-size: 12px;
    margin: 0 auto;
	text-align: center;
    border-spacing: 0 4px;
    table-layout: fixed;
    min-width: 525px;
    max-width: 525px;
}

#boost-prestige-autobuy-container {
    text-align: center;
    margin: 0px;
}

.purchase-buttons {
    font-size: 11px;
    height: 30px;
    width: 130px;
    font-family: 'Roboto Mono';
    color: lightgray;
    border-width: 3px;
    background-color: #324458;
    transition-duration: 0.5s;
}

#boost-upgrades-autobuy-container {
    text-align: center;
    margin: 0px;
}

#boost-upgrade-buttons-container {
    text-align: center;
}

.upgrade-buttons {
    font-size: 7px;
    line-height: 2;
    background-color: #324458;
    font-family: 'Roboto Mono';
    color: lightgray;
    border-width: 3px;
    width: 150px;
    height: 75px;
    margin: 5px;
}

#boost-container {
    text-align: center;
}

.boost-buttons {
    font-size: 10px;
    line-height: 2;
    background-color: #324458;
    font-family: 'Roboto Mono';
    color: lightgray;
    border-width: 3px;
    width: 150px;
    height: 75px;
    margin: 5px;
    transition-duration: 0.5s;
}

.boost-buttons:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#settings-container {
    text-align: center;
}

.settings-buttons {
    font-size: 12px;
    height: 25px;
    font-family: 'Roboto Mono';
    color: lightgray;
    border-width: 3px;
    background-color: #324458;
    border-color: gray;
}

.settings-buttons:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}
