body {
    font-family: 'Roboto Mono';
    background-color: #324458;
    color: lightgray;
    user-select: none;
}

.is-removed-from-layout {
    display: none !important;
}

button.notBuyable {
    border-color: #B33939;
    pointer-events: none;
}

button.buyable {
    border-color: Green;
}

button.buyable:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#header-container {
    text-align: center;
    font-size: 12px;
}

#gold-text {
    font-size: 20px;
}

#goldPerSecond-text {
    font-size: 20px;
}

#menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 25px 0px;
}

.menu-buttons {
    text-align: center;
    font-size: 12px;
    color: black;
    background-color: silver;
    width: 120px;
    height: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-width: 3px;
    font-family: 'Roboto Mono';
    transition-duration: 0.5s;
}

.menu-buttons:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.table-formatting {
    width: 60%;
    font-size: 12px;
    margin: 0 auto;
	text-align: center;
    border-spacing: 0 4px;
    table-layout: fixed;
    min-width: 525px;
    max-width: 525px;
}

.purchase-buttons {
    font-size: 12px;
    height: 25px;
    font-family: 'Roboto Mono';
    color: black;
    border-width: 3px;
    background-color: silver;
    transition-duration: 0.5s;
}

#settings-container {
    text-align: center;
}

.settings-buttons {
    font-size: 12px;
    height: 25px;
    font-family: 'Roboto Mono';
    color: black;
    border-width: 3px;
    background-color: silver;
}

.settings-buttons:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;
}
